body{
    background-color: antiquewhite;
}

.container{
    color:blue;
    font-size: large;
    border:2rem solid black;
    padding:2rem;
    text-align: center;
}

.container:first-child{
    margin:1rem 1rem 0rem;
    border-color: white;
}

.container:last-child{
    margin:0rem 1rem 1rem;
    border-color: black;
}